/*limpar formatacoes padroes, padding eh a distancia dentro da div*/
*{
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  background: #f3f3f3;
}
#navegacao{

  background: #FFF;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 5px;
  height: 50px;
}
#area{
  padding-top: 10px;
  width: 850px;
  margin: 0 auto;

}
#area2{

  background: #FFF;
  width: 900px;
  height: auto;
  margin: 10px auto;

}
#logo{
  float: left;
}
#menu {
    float: right;
}
#espacamento{

  margin-top: 10px;
}

.times{
  font-family: "Times New Roman", Times, serif;
}
/*formatacao menu*/
a{
  text-decoration: none;
  padding: 5px;
}
/*links nao visitados*/
a:link{
  color: #838383;
}
/*links visitados*/
a:visited{
  color: #838383;
}
/*links hover*/
a:hover{
  color: #352020;
}





/*links active*/
